body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.heading, .footer, .hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.heading {
    display: flex;
    gap: 25%;
}

.header-logo {
    font-size: 24px;
}

.nav-box {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    height: auto;
    padding: 100px;
    gap: 20px;
}

.hero-text-box {
    align-content: flex;
    flex-direction: column;
    justify-items: left;
    width: 40%;
}

#hero-text-top {
    font-size: 38px;
    font-weight: 900;
    margin: 0px;
    padding-top: 10px; 
}

#hero-text-sub {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 10px 30px;
    height: fit-content;
    color:#F9FAF8;
    border: none;
    border-radius: 12px;
    outline: #F9FAF8;
    outline-style: solid;
    outline-width: 2px;
}

.hero-image {
    height: 300px;
    width: 600px;
    background-color: #283d67;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-box-container {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 200px;
    text-align: center;
}

.info-box {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 12%;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
    margin: 0 40%;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 0 30%;
}

.call-to-action {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    width: 50%;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0 40px;
}